body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 40px;
    
}
p{
    text-align: justify;
}
.orange{
    color: orange;
}
.flexible-container{
    display: flex;
    margin-bottom: 0px;
}
.half-width{
    width: 50%;
    padding: 5%;
}
.half-width img{
    width: 90%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orangered, orange);
    color: white;
    font-weight: 700;
    padding: 10px   40px    ;
    border-radius: 5px;
}
.top-banner {
    background-image: url(developer-portfolio-master/images/top-banner.png);
    background-repeat: no-repeat;
}
.second-line {
    background-image: url(developer-portfolio-master/images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.Experience-area{
    background-image: url(developer-portfolio-master/images/exp-bg.png);
    background-repeat: no-repeat;
    margin-top: 50px    ;
    background-position: left;
}
.Experiences-category{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;   
    padding-left: 10px;
    padding-right: 10px;
    box-shadow: 10px 10px 40px gray;

}
#Exp-id{
    border-left: solid 8px;
    border-image: linear-gradient(orangered, orange);
    border-image-slice: 1;
}
#Exp-id-2{
    border-left: solid 8px;
    border-image: linear-gradient(blue, cyan);
    border-image-slice: 1;
}
footer p{
    text-align: center ;
}