body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 40px;
    
}
p{
    text-align: justify;
}
.orange{
    color: orange;
}
section{
    display: flex;
}
.half-width{
    width: 50%;
    padding: 5%;
}
.half-width img{
    width: 90%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orangered, orange);
    color: white;
    font-weight: 700;
    padding: 10px   40px    ;
    border-radius: 5px;
}
